<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Environment" value="Development" />
		<add key="OrderMaker" value="Concord" />
		<add key="OrderMakerIP" value="tradeapi.concords.com.tw" />
		<add key="SecurityKey" value="f87fe28f-210f-475b-92a5-02b7344097d5" />
		<add key="Mode" value="Main" />
		<add key="SId" value="F124597024" />
		<add key="Password" value="GtGeX5pbxLTHfzP/5ZeOuA==" />
		<add key="Begin" value="84500" />
		<add key="End" value="233000" />
		<add key="LogFile" value="C:\applog\order-maker" />
	</appSettings>
</configuration>